body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;;
    min-height: 100vh;
}

.clock{
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(clock.png);
    background-size: cover;
    box-shadow: 0 -18px 18px rgba(225, 225, 225, 0.05),
    inset 0 -18px 18px rgba(255, 255, 255, 0.05),
    0 -18px 18px rgba(0, 0, 0, 0.05),
    inset 0 -18px 18px rgba(0, 0, 0, 0.05);
    border: 50 px solid #000000;
    border-radius: 50%;
}
.clock:before{
    content: " ";
position: absolute;
width: 15px;
height: 15px;
background-color: aliceblue;
border-radius: 50%;
z-index: 10000;
}
.clock .hour, .clock .minute, .clock .second{
    position: absolute;
}

.clock .hour,.hr{
    width: 160px;
    height: 160px;
}
.clock .minute, .min{
    height: 190px;
    width: 190px;
}
.clock .second, .sec{
    height: 230px;
    width: 230px;
}
.hr, .min, .sec{
    position: absolute;
    display: flex;
    justify-content: center;

}
.hr:before{
    content: " ";
    position: absolute;
    width: 10px;
    height: 85px;
    background: rgb(3, 87, 93);
    z-index: 10;
    border-radius: 8px 8px 0 0;
}

.min:before{
    content: " ";
    position: absolute;
    width: 5px;
    height: 95px;
    background: rgb(26, 155, 127);
    z-index: 11;
    border-radius: 8px 8px 0 0;
}
.sec:before{
    content: " ";
    position: absolute;
    width: 3px;
    height: 150px;
    background: rgb(26, 155, 127);
    z-index: 12;
    border-radius: 8px 8px 0 0;
}
